<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <header id="header">
        
    </header>
    <main>
        <div id="app" class="container">
            <h1>Cursos</h1>
            <br>
            <a class="btn btn-primary" href="curso_nuevo.html">Agregar Curso</a>
            <br><br>

            <div v-if="error">
                <p>Lo sentimos , ........</p>
            </div>
            <div v-else>
                <section v-if="cargando">
                    <div class="spinner-border"></div>
                    <p>Cargando .....</p>
                </section>
                <section v-else>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">Id</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Precio</th>
                                    <th scope="col">Capacidad</th>
                                    <th scope="col">Resumen</th>
                                    <th scope="col">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="" v-for="curso in cursos">
                                    <td scope="row">{{curso.id}}</td>
                                    <td>{{curso.nombre}}</td>
                                    <td>{{curso.precio}}</td>
                                    <td>{{curso.capacidad}}</td>
                                    <td>{{curso.resumen}}</td>
                                    <td>
                                        <a class="btn btn-primary"
                                            :href="'curso_update.html?id='+ curso.id">Editar</a>
                                        <button type="button" class="btn btn-danger"
                                            v-on:click="eliminar(curso.id)">Eliminar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </main>

    <footer>
        
    </footer>
    <script <!--Link de Bootstrap-->
        src = "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity = "sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin = "anonymous" </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>
    <script src="./js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/cursos.js"></script>
</body>

</html>